body, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: center;
}

.navbar-logo {
    height: 3.3125rem;
    display: flex;
    align-items: center;
}

.nav-bar{
    height: 100vh;
    width: 15.9375rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: fixed;
    left: 5.5rem;
}

.nav-bar__lista{
    list-style: none;
    padding: 0;
}

.nav-bar__lista-itens{
    height: 3.75rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #0F1419;

}

.item-ativo {
    color: #1DA1F2;
}

.imagem-navbar {
    height: 1.875rem;
    width: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.25rem;
}

.nav-bar-botao {
    width: 14.25rem;
    height: 3.0625rem;
    background-color: #1DA1F2;
    color: #FFF;
    font-weight: 700;
    font-size: .9375rem;
    line-height: 1.1875rem;
    border-radius: 9999px;
    border: none;
    margin-top: .9375rem;
    font-family: 'Poppins', sans-serif;
}

.nav-bar__perfil {
    display: flex;
    margin-bottom: 1.25rem;
    width: 15.9375rem;
    justify-content: space-between;
}

.icone-perfil {
    border-radius: 9999px;
    margin-right: .625rem;
    width: 2.4375rem;
    height: 2.4375rem;
}

.nav-bar__perfil--informacoes {
    display: flex;
}

.nav-bar__perfil--informacoes-nome, .sugestoes__perfil--informacoes-nome {
    color: #0F1419;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.nav-bar__perfil--informacoes-usuario, .sugestoes__perfil--informacoes-usuario {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.017em;
    color: #5B7083;
}

.nav-bar__perfil-mais {
    height: 2.0625rem;
    width: 2.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
}

.feed {
    overflow-y: hidden;
    width: 37.375rem;
    border-left: 1px solid #EBEEF0;
    border-right: 1px solid #EBEEF0;
    margin: 0 1.875rem 0 .625rem;
    position: absolute;
    left: 22.6875rem;
}

.feed__tweetar--cabecalho {
    display: flex;
    height: 3.3125rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEEF0;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

.feed__tweetar--cabecalho-icone{
    border: none;
    background-color: transparent;
}

.feed__tweetar--principal {
    padding: .625rem .9375rem;
    display: flex;
}

.feed__tweetar__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: .75rem;
}

.form-iconesBotao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone-perfil-tweetar {
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;   
}

.textarea-tweetar {
    outline: none;
    resize: none;
    margin-top: .625rem;
    border: none;
    font-size: 1.25rem;
}

.textarea-tweetar::placeholder {
    font-family: 'Poppins', sans-serif;
}

.feed__tweetar__form--lista {
    display: flex;
}

.feed__tweetar__form--lista-itens {
    padding-right: 1.0625rem;
}

.feed__tweetar__form-button {
    border-radius: 9999px;
    height: 2.4375rem;
    width: 4.8125rem;
    border: none;
    color: #FFF;
    background-color: #1DA1F28C;
    &:hover{
     background-color: #1DA1F2;   
    }
}

.divisoria {
    height: .625rem;
    background-color: #F7F9FA;
    border-top: 1px solid #EBEEF0;
}

.feed__postagens__cards{
    padding: .5625rem .8125rem;
    display: flex;
    border-top: 1px solid #EBEEF0;
}

.feed__postagem__cards--conteudo{
    padding-left: .625rem;
}
.cards--conteudo-informacao-perfil {
    display: flex;
}

.cards--conteudo-nome {
    padding-right: .25rem;
    font-weight: 700;
    font-size: .9375rem;
    line-height: 18px;
    color: #0F1419;
}

.cards--conteudo-user {
    color: #5B7083;
}

.imagem-postagem {
    margin: .625rem 0;
    border-radius: 1rem;
}

.interacao-item {
    font-size: .8125rem;
    line-height: 1rem;
    color: #5B7083;
    display: flex;
    align-items: center;
}

.img-icone-feed {
    margin-right: .625rem;
}

.cards--conteudo-lista_interacao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.link-showthread {
    text-decoration: none;
    height: 2.25rem;
    display: flex;
    align-items: center;
    color: #1DA1F2;
    font-size: .8125rem;
}

.menu_direito {
    position: fixed;
    right: 6.0625rem;
}

.menu_direito-pesquisa {
    width: 20.75rem;
    height: 2.4375rem;
    margin-top: .625rem;
    border-radius: 9999px;
    background-color: #EBEEF0;
    border: none;
    padding-left: 1rem;
}

.menu_direito--noticias {
    width: 21.875rem;
    margin-top: .9375rem;
    border-radius: 1rem;
    background-color: #F7F9FA;
}

.noticias-titulo, .sugestoes-titulo {
    height: 2.25rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEEF0;
    padding: 0 .9375rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.noticias--card-tema {
    color: #5B7083;
    font-size: .875rem;
}

.noticias--card-texto {
    font-size: 15px;
    color: black;
    font-weight: 700;
}

.noticias--card-hashtag {
    color: #5B7083;
    font-size: .875rem;
    & span{
        color: #1DA1F2;
    }
}

.noticias--card {
    padding: .625rem .875rem .9375rem;
    border-bottom: 1px solid #EBEEF0;
    display: flex;
    justify-content: space-between;
}

.noticias--textos {
    width: 14.6875rem;
    display: grid;
    row-gap: .375rem;
}

.imagem-noticias{
    width: 4.4375rem;
    height: 4.3125rem;
    border-radius: .75rem;
}

.showMore {
    text-decoration: none;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 .9375rem;
    color: #1DA1F2;
    font-size: .9375rem;
}

.menu_direito--sugetoes {
    width: 21.875rem;
    background-color: #F7F9FA;
    border-radius: 1rem;
    margin-top: .9375rem;
}

.sugestoes__perfil {
    display: flex;
    padding: .625rem 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #EBEEF0;
}

.sugestoes__perfil--informacoes {
    display: flex;
    align-items: center;
}

.informacoes--perfil{
    display: flex;
    flex-direction: column;
    margin-left: .625rem;
}

.sugestoes__perfil-botao {
    width: 80px;
    height: 30px;
    border: 1px solid #1DA1F2;
    border-radius: 9999px;
    color: #1DA1F2;
    background-color: transparent;
}